/*.nav {*/
/*    background-color: silver;*/
    /*display: flex;
    justify-content: space-between;
    align-items: center;
}

nav__logo {
    background-color: red;
    width: 100px;
    height: 100px;
}

nav__logo img {
    width: 100%;
    object-fit: contain;
}


nav__links {
    background-color: green;
    display: flex;
    flex-direction: column;
}

nav__other {
    background-color: blue;
}*/